* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Popins", sans-serif;
  min-height: 100vh;
}

#header-navb {
  border-radius: 0%;
  border: 0px;
  background-color: aliceblue;
}

.navbar-brand {
  padding: 20px;
}

.navbar-brand h1 {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 1.6em;
  border: 0px;
  margin: 0px;
  line-height: 20px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid black;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 20%;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
}

form input {
  color: black;
}

form button {
  color: black;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid black;
}

form button:hover {
  background: white;
  color: black;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 5px;
  border: 1px solid black;
}

.todo li {
  flex: 1;
}
.trash-btn,
.completed-btn {
  background: #ffffff;
  color: black;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

.completed-btn {
  background: #ffffff;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
  border: 1px solid black;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.select {
  margin: 1rem;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

select {
  background-color: white;
  color: black;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}

.select::after {
  content: "\25BC";
  position: 10px 0px;
  background: white;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
  border-radius: 5px;
  border: 1px solid black;
}

.select:hover::after {
  background: white;
  color: black;
}

img {
  width: 57%;
  height: 5%;
  margin: 1% 20%;
}
